/**  DOCUMENT-WIDE  **/

:root  {  
    --dark-blue:#122133; /* General purpose dark blue */
    --light-blue: #d1dffa; /* Light blue, for contrasting with main shades... try #D5E9F6? */
    --faint-teal: #d9f2f2;
    --light-teal: #b3e6e6; /* Main teal in site */
    --mid-teal: #458E8F;
    --logo-teal: #218e91; /* Main teal from the logo */
    --dark-teal: #065C5D; /* Dark teal, mostly used for accents #0a6566*/ 
    --faint-blue: #f0f0ff; /* Very light blue only used for backgrounds, currently unused */
    --logo-orange: #F76115; /* The orange from the original PPC website, use for maintenance */
    --light-orange: #ffddcc; /* Lighter orange for general maintenance purposes */
    --faint-orange: #ffeedd; /* Very light orange, mostly for backgrounds */
    --grey1: #eaeaea; /* Buttons and some backgrounds*/
    --grey2: #e0e0e0; /* Used for bgs which have low contrast with but are distinct from grey1 backgrounds */
    --grey3: #cccccc; /* Alt grey for buttons and backgrounds */
    --grey4: #999999; /* Used for low-contrast text */
    --grey5: #222222; /* Very dark grey for footer / creating contrast */
    --header-blue: #0a131d; /* Used for header, footer, main image*/
    --transparent: #0a131d00;
    --purple: #a9b8e5;
    --bck-width: clamp(5px ,0.625lvw, 10px);
}

*  {  
    margin: 0; 
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
   }


html  { 
    box-sizing: border-box;
}

html, body {
    overflow-x: clip;
}

body {
position: relative;
}


*, *:before, *:after  { 
    box-sizing: inherit;
}


.hide  { 
    display: none !important;
}


hr {
    border: 1px solid var(--header-blue);
    margin: 20px 0;
}

.showhide1, .showhide2, .showhide3, .showhide4 {
    display: none;
}

img {
    max-width: 100%; 
    height: auto 
}

  /**  HEADINGS AND FONTS  **/

h1, footer span  {
    font-weight: 700;
  }

#title > h1, #title-alt > h1 {
    font-family: "Podkova", "Oswald", sans-serif;
}

#title > h1, #title-alt > h1, footer span { 
    padding-bottom: 30px;
    color: var(--light-teal);
}

#title > h1, #title-alt > h1, footer span, #header-btn  { 
    font-size: clamp(1.875rem, 5lvw, 4rem);
    text-shadow: 2px 2px 2px var(--header-blue);
}

#title > h2, #title-alt > h2  { 
    text-shadow: 1px 1px 1px black;
    color: var(--light-blue);
    font-weight: 400;
    padding: 0;
}

#title > h2  { 
    font-size: clamp(0.75rem, 1.5rem, 2.25lvw);
}

#title-alt > h2  { 
    font-size: clamp(0.875rem, 1.125rem, 2lvw);
}

footer h2  { 
    font-size: clamp(1.875rem, 5lvw, 4rem);
    color: var(--light-blue);
}

h2, #discoveryBtn, #getInTouchBtn {
    font-weight: 500;
    padding: 1% 0 2% 0;
    color: var(--dark-blue);
}

#discoveryBtn, #getInTouchBtn {
    font-size: clamp(1.5rem, 4lvw, 3.2rem);
}

h2 {
    font-size: clamp(1.5rem, 3.5lvw, 3.2rem);
    position: relative;
    top: -2lvh;
}

h3, .btn-text span:first-of-type {
    font-size: clamp(1.375rem, 3lvw, 2rem);
    padding-bottom: 3%;
    font-weight: 500;
}

.btn-text span:not(first-of-type) {
    font-weight: 500;
}

#discoveryBtn h3, #getInTouchBtn h3 {
    padding-bottom: 0;
    font-weight: 700;
    font-size: clamp(1.125rem, 3lvw, 2.25rem);
}

h4 {
    font-size: clamp(1.125rem, 2.5lvw, 1.625rem);
    margin-bottom: 5px;
}

strong {
    font-family: "Podkova", "Oswald", sans-serif;
    font-weight: 1000;
    font-size: 1.25rem;
    color: var(--header-blue);
}

a {
    color: unset;
}


/**  HEADER  **/

header { 
    width: 100lvw;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    top: 0;
    z-index: 5;
    position: absolute;
    transition-duration: 0.4s;
    position: sticky;
}

.navbar  { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: min(70px, 15lvw, 15lvh);
}

nav p {
    font-weight: 900;
    font-size: clamp(0.75rem, 1.125rem, 2lvw);
}


#header-btn {
    position: relative;
    top: -5px;
    left: -5px;
    border-width: 0px;
    background-color: var(--transparent);
    color: var(--logo-teal);
    font-weight: 500;
}

.logo  { 
    width: auto;
    height: min(48px, 10.3lvw, 10.3lvh);
    margin-left: -15px;
    margin-right: 5px;
}

#header-display  { 
    display: none;
    position: fixed;
    top: min(70px, 15lvw, 15lvh);
    left: clamp(calc(100lvw - 600px), 50lvw, calc(100lvw - 300px));
    width: clamp(300px, 50lvw, 600px);
    height: clamp(20lvh, 400px, calc(100lvh - 85px));
    z-index: 8;
    border-radius: 0 0 2px 2px;
    box-shadow: -3px 0px 5px var(--dark-teal);
}


#header-display > div  { 
    height: clamp(2lvh, 50px, calc(100lvh - 85px));
    z-index: 9;
    font-size: 1.5rem;
    padding-left: 20px;
    cursor: pointer;
    transition-duration: 0;
}

#header-display > div:hover { 
    box-shadow: -3px 0px 5px var(--dark-teal);
}


/** IMAGES **/

#hero {
    height: max(70lvh, 30dvw);
    min-height: 500px;
    max-height: 800px;
}

#main-image::before  { 
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100lvw;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(110deg, var(--header-blue) 35%, var(--transparent));
    opacity: 0.75;
  }

#main-image > img  { 
    height: max(70lvh, 30dvw);
    min-height: 500px;
    max-height: 800px;
    position: fixed;
    z-index: -2;
    overflow: hidden;
    object-fit: cover;
    width: 100lvw;
    max-width: 100%;
}

#main-image  { 
    width: 100lvw;
    max-width: 100%;
    height: max(70lvh, 30dvw);
    min-height: 500px;
    max-height: 800px;
    overflow: hidden;
    object-fit: cover;
}

@media (max-width: 799px){

    #hero, #main-image , #main-image::before, #main-image > img {
        min-height: calc(100lvw - 300px);
    }
}

.small-image  { 
    width: 40lvw;
    height: auto;
}

.image-text  { 
    position: absolute;
    text-align: left;
    top: 20lvh;
    left: 3lvw;
    width: max(40%, min(220px, 100lvw));
  }

  .hero-btn {
    width: clamp(min(240px, 45lvw), 35lvw, 350lvw);
    height: clamp(min(60px, 10lvw), 3.5lvw, 3.5lvw);
    margin: 1lvw 0;
    background: var(--faint-blue);
    border: 1px solid var(--dark-blue);
    font-size: clamp(0.625rem, 1.75lvw, 1.25rem);
    font-weight: 600;
    transition-duration: 0.2s;
    border-radius: 15px;
}

.hero-btn:hover {
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 2px 3px var(--dark-blue);
    background-color: var(--light-teal);
}

.shift-up  { 
    margin-bottom: -50px;
}


/**  WELCOME  **/


#welcome {
    height: max(60lvh, 30lvw, fit-content);
    padding-top: 3%;
}

#welcome > :first-child {
    height: 100%;
}

#welcome > :first-child, #outer-welcome > :nth-child(3) {
    width: 58%;
    height: 100%;
    margin-right: 5%;
}

#welcome > :nth-child(2) {
    width: 40%;
    height: 100%;
    margin-right: 0%;
    padding: 2%;
}

#welcome > :first-child > p, #outer-welcome > :nth-child(3) > p {
    margin: -2% auto 2% auto;
}

#outer-welcome span {
    font-weight: 500;
}

#outer-welcome > :last-child {
    display: none;
}

@media (max-width: 1000px) {

    #outer-welcome {
        display: block;
        padding: 5%;
    }

    #welcome {
        height: calc(500px + max(1.25 * (400px - 100lvw), 0px));
        margin-bottom: -50px;
    }

    #welcome > :first-child, #outer-welcome > :nth-child(3) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #welcome > :nth-child(2) {
        display: none;
    }

    #outer-welcome > :last-child {
        display: block;
        width: 100%;
        border: 1px solid var(--header-blue);
    }

    @media (min-width: 330px){
        #outer-welcome > :last-child {
            margin-top: -100px;
        }
    }

}



/**  MAIN BODY SECTIONS  **/

.container{ 
    display: inline-block;
    width: 100%;
    min-width: 100%;
    max-width: 100lvw;
  }

.text-box  { 
    padding: 2% 3%;
    text-align: left;
}

.text-box p  { 
    font-size: clamp(0.875rem, 2lvw ,1.125rem);
}

.align-a { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.align-b  { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.align-c  { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.rounded  { 
    border-radius: 30px 30px 0 0;
}

.circle-box { 
    padding: 20px 5px 20px 5px;
    margin: 0 5lvw 5lvh 5lvw;
    text-align: center;
    width: clamp(22lvw, 22lvw, 320px);
    vertical-align: top;
    height: fit-content;
}

.why-choose  { 
    height: clamp(200px, 300px + 10vw, 300px + 10vw);
    margin: 0 5%;
}

.circle  { 
    width: clamp(50%, 70%, 50% + 2lvw);
    height: 0;
    padding-bottom: clamp(50%, 70%, 50% + 2lvw);
    background-color: var(--light-blue);
    border-radius: 50%;
    display: inline-block;
    color: var(--grey5);
    font-size: clamp(2.5rem, 5lvw, 5rem);
    margin-bottom: calc(5% + 10px);
    line-height: calc(clamp(178%, 110% + 4lvw, 200% + 6lvw));
  }

  @media (max-width: 681px) {

    .circle-box  { 
        padding: 60px 5px 20px 5px;
        margin: 0 2lvw 0 2lvw;
        width: clamp(44lvw, 44lvw, 320px);
        vertical-align: top;
    }

    .circle-wrapper {
        padding: 5% 5%;
        height: calc(50lvh - 20lvw);
        max-height: 90lvw;
    }

    .circle-box > p:first-of-type { 
        font-weight: 700;
        font-size: calc(0.625rem + 0.625lvw);
    }
    
    .circle-box > p:last-of-type  { 
        font-size: calc(0.375rem + 0.625lvw);
        font-weight: 600;
    }
  }



.circle-2  { 
    width: 3%;
    height: 0;
    padding-bottom: 3%;
    background-color: var(--dark-blue);
    border-radius: 50%;
    color: var(--dark-blue);
    font-size: 5rem;
    margin-bottom: 0px;
}

.align-left {
    align-items: center;
    justify-content: start;
}

.circle-box > p:first-of-type { 
    font-weight: 700;
    font-size: calc(0.6875rem + 0.625lvw);
    color: var(--light-blue);
}

.circle-box > p:last-of-type  { 
    font-size: calc(0.5rem + 0.625lvw);
    color: var(--grey4);
    font-weight: 600;
}

.border-box { 
    border-radius: 30px;
    border: 1px solid var(--dark-blue);
  }


.reviews  { 
    height: 400px;
  }

#maintenance-title {
    border: 1px solid var(--logo-orange);
}



/**  BUTTONS  **/

button:not(#discoveryBtn), #header-btn, a, select, .hero-btn, .form-btn, .privacy-policy { 
    cursor: pointer;
    transition-duration: 0.2s;
}

.main-button {
    width: clamp(min(240px, 35lvw), 20lvw, 20lvw);
    height: clamp(min(60px, 10lvw), 3.5lvw, 3.5lvw);
    margin: 20px min(20px, 5%);
    background: var(--faint-blue);
    box-shadow: 3px 3px 5px var(--dark-blue);
    border: 1px solid var(--dark-blue);
    font-size: clamp(0.75rem, 2lvw, 1.25rem);
    font-weight: 600;
    transition-duration: 0.2s;
    border-radius: 15px;
}

.main-button:hover {
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 2px 3px var(--dark-blue);
    background-color: var(--light-blue);
}

#nav-button {
    position: relative;
    top: 0px;
    left: calc(20vw - 130px);
    background-color: var(--transparent);
    border: 2px solid var(--dark-teal);
    border-radius: 15px;
    color: var(--logo-teal);
    font-weight: 500;
    width: clamp(60px, 120px, 15lvw); 
    height: 35px;
    font-size: 1rem;
}

#nav-button:hover {
    transition-duration: 0.2s;
    background-color: var(--dark-teal);
}

@media (max-width: 600px) {
    #nav-button {
        display: none;
    }
}

a {
    text-decoration: none;
}

#header-btn:hover, #main-btn:hover, .alt-button:hover, .main-button:hover, .hero-btn:hover, button:hover.index-button{ 
    transform: scale(1.05);
}

#discoveryBtn:not(.pressed):hover, #getInTouchBtn:not(.pressed):hover {
    transform: scale(1.01);
}

button:hover.index-button > div{ 
    box-shadow: 0 2px 8px var(--logo-teal);
}

button:hover.index-button > img { 
    box-shadow: 0 -2px 8px var(--logo-teal);
}

.alt-button  { 
    width: min(160px, 90%);
    height: clamp(1.5rem, 5lvw, 2rem);
    border-radius: 5px;
    color: black;
    border: none;
    margin: 20px auto 15px auto;
    font-size: clamp(0.75rem, 2.5lvw, 1rem);
}

button:hover.white-style, .pressed.white-style  { 
    background-color: var(--light-teal);
    box-shadow: 2px 2px 3px var(--dark-blue);
}


button:hover.blue-style, .pressed.blue-style  { 
    border: 1px solid var(--dark-blue);
    background-color: var(--light-blue);
    box-shadow: 2px 2px 3px var(--dark-blue);
}


button:hover.orange-style, .pressed.orange-style  { 
    border: 1px solid var(--logo-orange);
    background-color: var(--light-orange);
    box-shadow: 2px 2px 3px var(--logo-orange);
}


button:hover.grey-style, .pressed.grey-style  { 
    border: 1px solid var(--grey5);
    background-color: var(--grey3);
    box-shadow: 2px 2px 3px var(--grey4);
}

.mini-box  { 
    width: 30%;
}

.dropdown-btn {
    width: 100%;
    height: 40px;
    font-size: clamp(0.75rem, 2lvw, 1.5rem);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: text-top;
    padding: 0 max(1%, 10px);
    margin: 8px 0;
}

.dropdown-btn > p {
    font-size: clamp(0.75rem, 1.875lvw, 1.5rem);
    font-weight: 500;
}

.dropdown-box {
    margin-top: -8px;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    border-bottom: 1px dotted black;
    padding: 1%;
}

.dropdown-box, #discovery-dropdown, #get-in-touch-dropdown {
    display: none;
}

.dropdown-box.pressed, #discovery-dropdown.pressed, #get-in-touch-dropdown.pressed {
    display: block;
}

.arrow, .arrow-xl {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    content: "";
    transform: rotate(225deg);
  }

.down {
    transform: rotate(45deg);
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}



/** DISCOVERY BUTTON SECTION **/

#discovery-section, #contact-us {
    min-height: 70px;
}

#discovery-section {
    padding-bottom: 5%;
}

#discoveryBtn, #getInTouchBtn {
    background-color: var(--transparent);
    border: 2px solid var(--dark-blue);
    border-radius: 10px;
    padding: 3%;
    margin: 0%;
    background: var(--grey3);
    min-height: 50px;
}

#discoveryBtn:hover, #discoveryBtn.pressed, #getInTouchBtn:hover, #getInTouchBtn.pressed {
    background-color: var(--grey3);
}

#discoveryBtn.pressed, #getInTouchBtn.pressed {
    border-radius: 5px 5px 0 0;
}

#discoveryBtn, #discovery-dropdown, #getInTouchBtn, #get-in-touch-dropdown {
    width: min(95%, 1500px);
}


/** DISCOVERY BUTTON DROPDOWN **/


#discovery-dropdown, #get-in-touch-dropdown {
    border-left: 2px solid var(--dark-blue);
    border-right: 2px solid var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
    border-radius: 0 0 10px 10px;
    background: var(--grey1);
    
}

.dropdown-div {
    height: 45%;
    margin: 2.5% 0;
    width: 100%;
}

.index-button  {
    border: 0px;
    border-radius: 10px;
    margin: 0 3% 10px 3%;
    width: clamp(0%, calc(80px + 15lvw), min(25lvw, 400px));
    background-color: var(--transparent);
    height: calc(100% - clamp(35px, 2lvw, 50px) + clamp(5lvw, min(15lvw, 500px), 400px));
    max-width: 23lvw;
    max-height: 60px;
}

.button-image  { 
    width: 100%;
    max-width: 100%;
    height: calc(100% - clamp(30px, 2lvw, 45px));
    max-height: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
}

.index-button > div  { 
    width: 100%;
    height: clamp(20px, 4lvw, 50px);
    margin-top: -5px;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.index-button p {
    color: var(--dark-blue);
    font-size: clamp(0.625rem, 2lvw, 1.25rem);
    font-weight: 700;
}


@media (max-width: 600px){

    .index-button > div  { 
        width: 100%;
        height: clamp(35px, 2lvw, 50px);
        margin-top: -5px;
        border-radius: 0 0 10px 10px;
        background-color: white;
    }

    .showhide4 {
        display: block;
    }
}


/**  SPECIAL BUTTON ARRANGEMENTS **/

#application-process {
    height: clamp(calc(950px - 100lvw), calc(60lvw + 250px), min(100lvw, 100lvh) + 20px);
    min-height: fit-content;
    max-width: 100%;
    padding-top: 30px;
}

#arrangement-box-a { 
    width: max(10lvw, 80px);
    height: 60lvh;
    min-height: 400px;
    margin-bottom: 5%;
    align-items: top;
    background-color: var(--grey3);
}

#arrangement-box-b { 
    width: calc(100% - max(10lvw, 80px));
    height: 60lvh;
    min-height: 400px;
    margin-bottom: 5%;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
}

.btn-text table {
    width: 100%;
}

.btn-text td {
    border: 1px solid var(--header-blue);
    width: calc(100% / 3);
    height: 80px;
    text-align: center;

}

.page-btn  { 
    width: 100%;
    height: calc(100% / 12);
    transition-duration: 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--grey4);
    background-color: var(--faint-blue);
    border: 1px dotted black;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    padding: 6% 3% 0 3%;
}

.page-btn.pressed { 
    font-weight: 1000;
    color: var(--dark-blue);
}

.page-btn:last-of-type  {
    position: relative;
    top: calc(100% - 7 * 100% / 12);
} 

.page-btn:nth-of-type(1).pressed {
    background-color: var(--light-blue);
}

.page-btn:nth-of-type(2).pressed {
    background-color: #CBE0F6;
}

.page-btn:nth-of-type(3).pressed {
    background-color: #C5E2F2;
}

.page-btn:nth-of-type(4).pressed {
    background-color: #BFE3EE;
}

.page-btn:nth-of-type(5).pressed {
    background-color: #B9E5EA;
}

.page-btn:nth-of-type(6).pressed {
    background-color: var(--light-teal);
}

.page-btn:nth-of-type(7).pressed {
    background-color: var(--grey4);
}

.box-image { 
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover; 
}

#arrangement-box-b::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    background-color: var(--faint-blue);
    opacity: 0.3;
}

#arrangement-box-b::-webkit-scrollbar-thumb {
    background: var(--grey4);
    border-radius: 10px;
  }


@media (max-width: 799px){

    .page-btn { 
        height: calc(100% / 7);
    }

    .page-btn:last-of-type  {
        position: relative;
        top: unset;
    } 

}
    

/** PRICE PLAN TABLE **/

.table-box {
    width: 100lvw;
    overflow-x: auto;
    height: calc(fit-content + 40px);
    padding-bottom: 10lvh;
}

.services { 
    width: 98%;
    margin-right: 2%;
    color: var(--header-blue);
    font-size: clamp(0.75rem, 2lvw, 1.625rem);
}

.services colgroup > col:first-of-type {
    width: clamp(200px, 30lvw, 500px);
}

.services colgroup > col:not(first-of-type) {
    width: clamp(140px, calc(24.5lvw - 75px), 300px);
    min-width: 120px;
}

.services th, .services td  { 
    padding: 5px;
    text-align: center;
}

.services td  { 
    border-bottom: 1px dotted var(--grey3);
    border-right: 1px dotted var(--grey4);
}

.services th {
    border-top: none;
    height: 20lvh;
}

.services th > div {
    border-radius: 20px;
    width: 100%;
    padding: 2px 4px;
    height: 100%;
}

.services th span:first-of-type {
    font-weight: 600;
    font-size: clamp(1rem, 2lvw, 1.5rem);
    height: 30%;
}

.services th span:last-of-type {
    font-size: clamp(0.75, 1.25lvw, 1rem);
    color: var(--dark-blue);
}

@media (min-width: 1335px){
    .showhide3 {
        display: block;
    }
}

@media (max-width: 662px){
    .showhide1, .showhide2 {
        display: block;
    }
}

.services td:first-child, .services th:first-child { 
    border-left: none;
    border-right: none;
    position: sticky;
    left: 0;
}

.services td:first-child { 
    background: linear-gradient(90deg, var(--faint-blue) calc(100% - 1px), var(--grey4) calc(100% - 1px));
}

.services tr:last-of-type td {
    border-bottom: none
}

.services td:last-child, .services th:last-child  { 
    border-right: none;
}

.services tr:nth-of-type(2), .services tr:nth-of-type(9), .services tr:nth-of-type(17), .services tr:nth-last-of-type(7) {
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--logo-teal);
}

.services tr:nth-of-type(2) td, .services tr:nth-of-type(9) td, .services tr:nth-of-type(17) td, .services tr:nth-last-of-type(7) td {
    border: none;
    color: var(--logo-teal);
    font-weight: 800;
    font-family: "Podkova", "Oswald", sans-serif;
    padding-top: 5lvh;
    padding-bottom: 2lvh;
    background: var(--faint-blue);
}

@media (max-width: 612px) {
    .services th:first-child, .services tr:nth-of-type(2) td:first-of-type, .services tr:nth-of-type(9) td:first-of-type, .services tr:nth-of-type(17) td:first-of-type, .services tr:nth-last-of-type(7) td:first-of-type {
        background: linear-gradient(90deg, var(--faint-blue) calc(100% - 1px), var(--grey4) calc(100% - 1px));
    }

}

.services tr:nth-last-of-type(7) {
    border-bottom: 2px solid var(--logo-orange);
}

.services tr:nth-last-of-type(7) td {
    color: var(--logo-orange);
}

.services tr:nth-child(n+1):nth-child(-n+19) td:nth-of-type(4) {
    color: var(--header-blue);
}




/**  IMAGE BOX AND TESTIMONIALS  **/


.index-testimonials h3 {
    font-size: clamp(1.125rem, 2.5lvw, 2.25rem);
    text-align: center;
    font-weight: 500;
    color: var(--dark-blue);
    position: relative;
    top: 4lvw;
    padding-top: 20px;
    width: 80%;
}


.index-testimonials > .testimonial-box {
    margin: 0 5% 5% 5%;
    vertical-align: top;
    width: 100%;
    max-width: calc(1000px + 20%);
    height: 60lvh;
    min-height: fit-content;
}

.index-testimonials blockquote {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    width: calc(100% - 120px);
    max-width: 1000px;
    text-align: center;
}


.index-testimonials strong {
    font-size: clamp(1rem, 3.5lvw, 2.875rem);
    font-weight: 700;
    color: var(--header-blue);
    width: 100%;
    margin-bottom: 5%;
}

.testimonial-box button {
    width: min(10lvw, 60px);
    height: 40%;
    text-align: center;
    background-color: transparent;
    border: 1px dotted var(--header-blue);
    margin-bottom: 3%;
    transition-duration: 0.4s;
}

.testimonial-box button:first-of-type
{
    border-radius: 20px 10px 10px 20px;
    margin-right: calc(20% - 10px);
}

.testimonial-box button:last-of-type
{
    border-radius: 10px 20px 20px 10px;
    margin-left: calc(20% - 10px);
}

.testimonial-box .left {
    width: 20px;
    height: 20px;
    margin-left: 25%;
}

.testimonial-box .right {
    width: 20px;
    height: 20px;
    margin-right: 25%;
}

.testimonial-box button:hover {
    transition-duration: 0.4s;
    background: var(--logo-teal);
}

@media (max-width: 599px) {
    .testimonial-box .arrow-xl {
        width: 10px;
        height: 10px;
    }
    
}

@media (pointer:coarse) or (max-width: 800px) {
    .near-end {
        display: none;
    }
}


#maintenance-main {
    margin-top: 20px;
}

#our-work {
    height: 85%;
    width: 55lvw;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 5%;
}

#our-work > img {
    width: 60lvw;
    height: 85%;
    max-width: 100%;  
    overflow: hidden;
    object-fit: cover;
    border: 1px dotted var(--header-blue);
}

#split {
    height: 840px;
    padding-bottom: 40px;
}

#split > aside {
    width: 35lvw;
    margin: 20px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}

#split > aside > div:first-of-type {
    border-bottom: 1px solid var(--header-blue);
    margin-bottom: 20px;
}

.scroll-box {
    width: 30lvw;
    height: 600px;
    overflow-y: scroll;
    border-radius: 10px;
    border-bottom: 1px solid var(--header-blue);
    border-top: 1px solid var(--header-blue);
}

.scroll-box > blockquote {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    border-left: 1px solid var(--header-blue);
    border-right: 1px solid var(--header-blue);
    z-index: 1;
}

.scroll-box > blockquote:not(:first-of-type) {
    margin-top: 20px;
    border-top: 1px solid var(--header-blue);
}

.scroll-box > blockquote:not(:last-of-type) {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--header-blue);

}

#split .testimonials::-webkit-scrollbar {
    width: 0;
  }




  @media ( max-width: 800px){
    #split {
        display: block;
        align-items: baseline;
        justify-items: baseline;
        height: calc(400px + 125lvw);
    }

    #our-work {
        height: 110lvw;
        width: 90lvw;
        max-width: 600px;
        margin: 20px 5lvw;
    }
    
    #our-work > img {
        width: 90%;
        height: 75%;
        margin: 0 5%;
        max-width: 100%;  
        overflow: hidden;
        object-fit: cover;
    }

    #split > aside {
        width: 100%;
        margin: 0 5%;
    }

    #split > aside > div:first-of-type {
        margin-bottom: 0px;
    }
    
    
    .scroll-box {
        margin-top: 20px;
        width: 1000lvw;
        height: 300px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: auto;
        border: none;
    }
    
    .scroll-box > blockquote {
        min-width: 300px;
        height: 100%;
        border-bottom: 1px solid var(--header-blue);
    }

    .scroll-box > blockquote:not(:first-of-type) {
        margin-top: 0px;
        border-bottom: 1px solid var(--header-blue);
        margin-left: 10px;
    }
    
    .scroll-box > blockquote:not(:last-of-type) {
        margin-bottom: 0px;
        border-top: 1px solid var(--header-blue);
    }
    
    .scroll-box > blockquote:nth-last-of-type(5) {
        margin-right: 20px;
    }
  }


/** LETTINGS PAGE UPPER **/


#bullet-table {
    min-height: calc(fit-content + 10%);
}
    
.bullet-box  { 
    text-align: left;
    width: calc(90% - 20px);
    min-width: min(300px, calc(98% - 20px));
    height: fit-content;
    min-height: fit-content;
    background-color: var(--dark-blue);
    color: var(--grey4);
    padding: 1% 2%;
    padding-bottom: 3%;
    border-radius: 10px;
    vertical-align: top;
    
}

.bullet-box:nth-of-type(odd) {
    margin: 40px 10% 40px auto;
}

.bullet-box:nth-of-type(even) {
    margin: 40px auto 40px 10%;
}

.bullet-box h4 {
    color: white;
    font-weight: 450px;
}



/** LETTINGS PAGE SERVICE PLANS **/

#plan-section {
    height: max(100lvh, fit-content);
    min-height: 80lvh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg,
                    #0a131ddd,
                    #0a131dee),
                    url("images/Backgrounds/exterior-3.jpeg");
}

#plan-box {
    border-radius: 15px;
    margin: calc(5% + 30px) 0 calc(5% + 20px) 0;
    width: clamp(min(95lvw, 340px), 70lvw, 1000px);
}

#lettings-top {
    width: 100%;
    max-height: 50px;
    padding: 0 10px 0 10px;
    background-color: transparent;
    color: var(--faint-blue);
    font-weight: 700px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid var(--faint-blue);
}

@media (max-width: 374px){
    #lettings-top h3 {
        font-size: calc(1.375rem - 1lvw);
    }
}

.box-image {
    min-height: 10lvh;
    border-left: 1px solid var(--header-blue);
    border-right: 1px solid var(--header-blue);
    border-bottom: 1px solid var(--header-blue);
    margin-bottom: -5px;
    background-color: transparent;
    display: none;
}

#text-display {
    height: calc(max(40lvw, 40lvh));
    max-height: 500px;
    font-size: clamp(0.875rem, 2lvw, 2rem);
    border-radius: 15px;
    border: 2px solid var(--faint-blue);
    margin-bottom: 15px;
    color: var(--faint-blue)
}

#service-button-container {
    display: flex;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.lettings-btn { 
    width: calc(100% / 3);
    height: 6lvh;
    min-height: 40px;
    border: 1px solid var(--header-blue);
    font-weight: 500;
    font-size: clamp(0.625rem, 1.5lvw, 1rem);
    color: var(--grey4);
    background-color: transparent;
    border: 2px solid var(--faint-blue);
}

.lettings-btn.pressed  { 
    font-weight: 700;
}

#lettings-row-1 > .lettings-btn.pressed:nth-of-type(1)  { 
    color: var(--light-blue); /*#d1dffa*/
} 

#lettings-row-1 > .lettings-btn.pressed:nth-of-type(2)  { 
    color: var(--light-teal); /*#b3e6e6*/
}

#lettings-row-1 > .lettings-btn.pressed:nth-of-type(3)  { 
    color: var(--logo-teal); /*#218e91*/
}

#lettings-row-2 > .lettings-btn.pressed:nth-of-type(1)  { 
    color: var(--purple); /*#7b68ee*/
}

#lettings-row-2 > .lettings-btn.pressed:nth-of-type(2)  { 
    color: var(--light-orange); /*#ffddcc*/
}

#lettings-row-2 > .lettings-btn.pressed:nth-of-type(3)  { 
    color: var(--grey2); /*#e0e0e0*/
}


/** TENANT PAGE **/

.bck-pattern-bricks {
    --s: 50px;
    --c1: var(--light-teal);
    --c2: var(--faint-teal);
    --g:conic-gradient(at 90% 40%,#0000 75%,var(--c1) 0);
    background: var(--g),var(--g) var(--s) var(--s) var(--c2);
    background-size: calc(2*var(--s)) calc(2*var(--s));
}

.bck-pattern-bricks > :first-child {
    width: max(60%, min(600px, 100%));
    background: linear-gradient(135deg, var(--light-teal), var(--faint-teal));
    box-shadow: 3px 3px 5px var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

.bck-pattern-bricks > :last-child {
    width: max(60%, min(600px, 100%));
    min-width: 40%;
    border-radius: 20px;
}

.bck-pattern-bricks h3 {
    color: var(--header-blue);
    font-size: clamp(1.875rem, 4lvw, 3rem);
    font-weight: 700;
}

@media (max-width: 600px) {

    .bck-pattern-bricks {
        display: block;
    }
}



/**  FORM DESIGN  **/

#bck-display-outer { 
    background: var(--header-blue);
    opacity: 0.6;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100lvw;
    height: 100lvh;
    z-index: 0;
}


#main-form, #privacy-display > div { 
    height: 90lvh;
    width: max(80lvw, min(100lvw, 400px));
    position: fixed;
    top: calc(5lvh + 35px);
    left: calc((100lvw - max(80lvw, min(100lvw, 400px))) / 2);
    z-index: 8;
    overflow: auto;
    background: var(--grey1);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2px;
    border: 4px solid var(--dark-teal);
}

#main-form {
    display: none;
}

.form-head span{
    font-size: clamp(1.375rem, 3lvw, 2rem);
    padding-bottom: 3%;
    font-weight: 700;
}

#main-form label .privacy-policy {
    font-weight: 500;
}

#main-form label span:not(.privacy-policy) {
    font-size: clamp(1rem, 2lvw, 1.5rem);
    padding-bottom: 3%;
    font-weight: 700;
}


.form-head  { 
    height: 10%;
    min-height: 70px;
    margin-bottom: 20px;
}


fieldset  { 
    height: 100%;
    width: 800%;
    padding: 2%;
    border: none;
    color: var(--dark-teal);
}


form > :nth-child(2) { 
    background-color: var(--grey2);
}


#x-btn  { 
    background: none;
    border: none;
    font-size: 1.125rem;
    line-height: 120%;
    color: white;
    width: 24px;
    height: 0;
    padding-bottom: 24px;
    background-color: var(--dark-teal);
    border-radius: 50%;
    position: absolute;
    left: calc(99% - 30px);
    top: 10px;
    opacity: 0.25;
    margin-bottom: 30px;
}


#x-btn:hover  { 
    opacity: 0.35;
}


form input:not(#privacy), element input, textarea, select  { 
    color: var(--dark-teal);
    border-radius: 5px;
    width: 100%;
    border: 1px dotted var(--dark-teal);
    padding: 0 6px;
    margin: 1px 0 5px 0;
    font-size: 1rem;
    height: 40px;
}

fieldset > :nth-child(n+2) {
    width: 100%;
}

fieldset > :nth-child(n+2) > div {
    width: 49%;
}

fieldset > :nth-last-child(2) {
    justify-content: left;
}

textarea {
    resize: none;
    height: 80px;
}

#message { 
    height: 200px;
}

#privacy  { 
    accent-color: var(--dark-teal);
    margin-left: 10px;
    margin-right: 10px;
}


#submit-btn  { 
    border: 2px solid white;
    background-color: var(--dark-blue);
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 1rem;
    transition-duration: 0.4s;
    margin: 10px auto;
}

#submit-btn:hover  { 
    background-color: white;
    color: var(--dark-blue)
}

fieldset::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    opacity: 0.3;
}

fieldset::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }


/**  CONTACT US IN THREE STEPS  **/

.three-steps-box { 
    border-radius: 120px;
    height: calc(fit-content + 40px);
    width: 90lvw;
    padding: 4%;
    margin-bottom: 30px;
}

.three-steps-element { 
   width: 40lvw;
   margin: max(6%, 20px) 2%;
   border-radius: 120px;
}

.three-steps-element:last-of-type {
    margin-bottom: -20px;
}

.three-steps-element > p {
    font-size: clamp(0.625rem, 1.5lvw, 1.5rem);
}

.three-steps-box element {
    width: 40lvw;
    margin-right: 2%;
    margin-left: 20px;
    position: relative;
}

#get-started {
    width: 100%;
    height: clamp(35px, 12lvw, 55px);
    background-color: var(--light-teal);
}

#page-subject {
    background: none;
    width: 100%;
    height: fit-content;
    font-size: clamp(0.75rem, 2.5lvw, 3rem);
    border: 1px solid var(--light-teal);
    color: var(--light-teal);
    appearance: none;
    margin-top: 15px;
}

#page-subject > option {
    background-color: var(--dark-blue);
    font-size: clamp(0.5rem, 1.5lvw, 1.5rem);
}

.three-steps-box element:before {
    position: absolute;
    top: 36%;
    right: calc(10px + 0.5lvw);
    content: " ";
    width: 0;
    height: 0;
    margin-top: -5px;
    border-style: solid;
    border-width: 0.75lvw 0.5lvw 0 0.5lvw;
    border-color: var(--light-teal) transparent transparent transparent;
    pointer-events: none;
  }

  @media (max-width: 600px){
    .three-steps-box element:before {
        border: 0px;
    }
  }


/** FOOTER **/

footer  { 
    width: 100%;
    height: fit-content;
    display: inline-block;
    margin: 0;
    background: var(--dark-blue);
}

footer > :first-child{
    background: linear-gradient(170deg, #789EA5, #5B7B84);
    border-top: 1px dotted var(--dark-blue);
}

footer > :first-child > :first-child {
    background: conic-gradient(from -45deg at bottom, var(--transparent) 90deg, var(--header-blue) 0) 100%/calc(8 * var(--bck-width)) 100%;
    background-color: var(--transparent);
    height: calc(4 * var(--bck-width));
    margin-bottom: 0;
    padding: 0;
    margin-top: 8px;
}

footer > :first-child > :nth-child(2) {
    background: linear-gradient(90deg,
    var(--header-blue) calc(50% - var(--bck-width)), 
    var(--transparent) calc(50% - var(--bck-width)), 
    var(--transparent) calc(50% + var(--bck-width)), 
    var(--header-blue) calc(50% + var(--bck-width))
    ) 100%/calc(8 * var(--bck-width)) 100%;
    height: var(--bck-width);
    margin-bottom: 0;
    padding: 0;
}

footer > :first-child > :nth-child(3) {
    background: linear-gradient(90deg,
    var(--transparent) calc(0%),
    var(--transparent) calc(8%),
    var(--header-blue) calc(8%),
    var(--header-blue) calc(50% - var(--bck-width)), 
    var(--transparent) calc(50% - var(--bck-width)), 
    var(--transparent) calc(50% + var(--bck-width)), 
    var(--header-blue) calc(50% + var(--bck-width)),
    var(--header-blue) calc(92%),
    var(--transparent) calc(92%)
    ) 100%/calc(8 * var(--bck-width)) 100%;
    background-color: var(--transparent);
    height: calc(2 * var(--bck-width));
    margin-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
}

#footer-button-section {
    background: var(--dark-blue);
}

.footer-segment { 
    font-size: clamp(0.75rem, 1lvw, 0.875rem);
    color: var(--grey4);
    padding: 10px;
    background-color: var(--header-blue);
    height: 100%;
}

.footer-segment > div { 
    margin: 5px;
    padding: 5px;
    text-align: center; 
}

.footer-segment > div > div {
    width: 25lvw;
}

#footer-logos img {
    max-width: 10dvw;
    max-height: 15dvw;
}

/** PRIVACY POLICY **/

#privacy-display > div {
    display: fixed;
}

#privacy-display span {
    font-weight: 600px;
}


/**  COLOUR SCHEMES  **/

.light-blue { 
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.dark-blue  { 
    background: var(--dark-blue);
    color: var(--light-blue);
}

.dark-blue-text  { 
    color: var(--dark-blue);
}

.faint-blue  { 
    background-color: var(--faint-blue);
    color: var(--dark-blue);
}

.title-blue {
    background-color: var(--header-blue);
}

.light-blue-text {
    color: var(--light-blue);
}

.light-orange  { 
    background-color: var(--light-orange);
    color: var(--dark-blue);
}

.faint-orange  { 
    background-color: var(--faint-orange);
    color: var(--dark-blue);
}

.logo-orange { 
    background: var(--logo-orange);
    color: var(--dark-blue);
}

.orange-text {
    color: var(--light-orange);
}

.orange-text-light {
    color: var(--faint-orange);
}

.white  { 
    background-color: white;
    color: black;
}

.grey  { 
    background-color: var(--grey1);
    color: black;
}

.grey-alt  { 
    background-color: var(--grey3);
}

.darkest-grey  { 
    background-color: var(--grey5);
    color: var(--light-blue);
}

.light-teal {
    background-color: var(--light-teal);
    color: var(--dark-blue);
}

.light-teal-text {
    color: var(--light-teal);
}

.mid-teal {
    background-color: var(--mid-teal);
    color: var(--dark-blue);
}

.teal {
    background-color: var(--logo-teal);
    color: var(--dark-blue);
}

.teal-text {
    color: var(--logo-teal);
}

.dark-teal {
    background-color: var(--dark-teal);
    color: var(--light-blue);
}

.dark-teal-text {
    color: var(--dark-teal);
}

.purple {
    background-color: var(--purple);
    color: var(--dark-blue);
}
    
.bck-image {
    background: linear-gradient(90deg, #0a131ddd, var(--transparent) 100%), url("images/Backgrounds/exterior-1.jpeg");
    overflow: hidden;
    background-size: cover;
    opacity: 0, 1;
    box-shadow: inset 0 0 0 1000px #0a131d33;
}

.bck-image-2 {
    background: linear-gradient(90deg, #0a131ddd, var(--transparent) 100%), url("images/Maintenance/banner-maintenance.jpg");
    overflow: hidden;
    background-size: cover;
    opacity: 0, 1;
    box-shadow: inset 0 0 0 1000px #0a131d33;
}

.bck-image-3 {
    background: linear-gradient(90deg, #0a131ddd, #0a131dff 100%), url("images/Backgrounds/interior-1.jpeg");
    overflow: hidden;
    background-size: cover;
    opacity: 0, 0.8;
}

.bck-image-4 {
    background: linear-gradient(90deg, #0a131ddd, var(--transparent) 100%), url("images/Backgrounds/tenant-banner.jpeg");
    overflow: hidden;
    background-size: cover;
    opacity: 0%, 100%;
    box-shadow: inset 0 0 0 1000px #0a131d33;
}